:root {
  --primary-font: 'Inter', sans-serif;
  /* Text colors */
  --main-txt-cl: rgb(126, 132, 146);
  --black-txt-cl: rgb(29, 30, 37);
  --white-txt-cl: rgb(255, 255, 255);

  /* Others */
  --svg-idx: 10;
  --fon-idx: 100;



}

/* Base styles */
html {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  color: var(--main-txt-cl);
}

/* Reset Start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  color: currentColor;
  text-decoration: none
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

li:last-child {
  margin-bottom: 0;
}

.page-box {
  overflow: hidden;
}


/* Reset End */
.container {
  min-width: 320px;
  /* max-width: 375px; */
  max-width: 448px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  /* Outline: 2px solid red;
  Outline-offset: -2px; */
}

/* @media only screen and (min-width: 376px) and (max-width: 1439px) {
  .container {
    max-width: 1229px;

    Outline: 2px solid rgb(147, 147, 0);
    Outline-offset: -2px;
  }
} */

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1230px;

    Outline: 2px solid red;
    Outline-offset: -2px;
  }
}


/**
  |============================
  | Header styles
  |============================
*/

.header {}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 24px 32px;
}

.container {}

.header-link {}

.header-svg {}

.header-nav {}

@media only screen and (max-width: 1439px) {
  .header-nav {
    display: none;
  }
}

.header-list {
  display: flex;
}

.header-iteam {}

.link {}

.header-contact {}

.header-menu-svg {}

/**
  |============================
  | Hero styles
  |============================
*/

.hero {}

.hero-container {
  position: relative;
  overflow-x: clip;
  padding-bottom: 56px;

}

.hero-container::before {
  content: "";
  display: block;
  position: absolute;
  width: 228px;
  height: 228px;
  left: -51px;
  top: 11px;
  filter: blur(120px);
  background-color: rgb(250, 117, 21);
  opacity: 0.9;
  z-index: -1;
}

.hero-container::after {
  content: "";
  display: block;
  position: absolute;
  filter: blur(80px);
  background-color: rgba(226, 248, 240, 0.8);
  z-index: -1;
  width: 197px;
  height: 197px;
  left: 277px;
  top: 203px;
}

.hero-title {
  margin-bottom: 48px;

}

.title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -1px;
  color: var(--black-txt-cl);
}

.hero-subject {
  display: flex;
  gap: 8px;
  margin-left: 32px;
  width: 303px;

  margin-bottom: 40px;
}

.subject {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;

  color: var(--black-txt-cl);
}

.hero-label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 57px;

  position: relative;
}

.hero-label-input {
  width: 219px;

  border: none;
  border-bottom: 1px solid var(--main-txt-cl);

  color: var(--main-txt-cl);
  background: transparent;
}

.hero-btn {
  width: 108px;
  height: 36px;

  border: none;
  border-radius: 100px;
  background-color: var(--black-txt-cl);

  font-size: 12px;
  font-weight: 700;
  line-height: 1.7;
  color: var(--white-txt-cl);
}

.hero-box-diagram {
  display: none;

  position: relative;
}

.hero-subtitle {}

.hero-desc {}

.hero-marketbox {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  position: relative;

  width: 335px;
  height: 96px;

  border-radius: 6px;
  box-shadow: 16.03px 32.07px 64.14px 0px rgba(45, 51, 81, 0.12);
  background: rgb(0, 0, 0);
}

.hero-market-container {}

.hero-market-title {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 2px;

  color: rgb(92, 97, 111);
}

.hero-market-price {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 7px;

  color: var(--white-txt-cl);
}

.hero-market-box {
  display: flex;
  align-items: center;
}

.hero-up-svg {
  margin-right: 3px;
  stroke: rgb(96, 211, 156);
}

.hero-down-svg {
  stroke: rgb(227, 84, 84);
}

.hero-market-sales {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.5;

  margin-right: 5px;
}

.hero-market-txt {
  font-size: 11px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.4px;
}

.overveiw-box p:last-child {
  margin-bottom: 0;
}

/**
  |============================
  | Overveiw styles
  |============================
*/

.overveiw-container {
  padding-bottom: 40px;
  padding-top: 40px;

  background-color: var(--black-txt-cl);
}

.container {}

.overveiw-title {
  margin-bottom: 16px;

  color: var(--white-txt-cl);
}

.heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
}

.overveiw-desc {
  margin-bottom: 32px;
}

.desc {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
}

.overveiw-svg {
  stroke: var(--white-txt-cl);
  margin-bottom: 19px;
}

.overveiw-subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 16px;

  color: var(--white-txt-cl);
}

.overveiw-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;

  margin-bottom: 24px;
}

/**
  |============================
  | Features styles
  |============================
*/

.features-container {
  padding-top: 56px;
  padding-bottom: 30px;
}

.container {}

.features-img {
  margin-bottom: 32px;
}

.features-title {
  color: var(--black-txt-cl);
}

.features-desc {
  margin-bottom: 24px;
}

.desc {}

.features-list {}

.features-iteam {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-bottom: 16px;
}

.features-svg {
  fill: var(--white-txt-cl);
  stroke: rgb(70, 178, 119);
}

.features-txt {
  color: var(--black-txt-cl);
}

/**
  |============================
  | Content section
  |============================
*/

.content-container {
  padding-top: 26px;
  margin-bottom: 56px;
}

.content-box {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 15px;

  margin-bottom: 32px;
}

.content-box-container {
  display: flex;
  align-items: center;
}

.content-box-container:nth-child(n+1)::after {
  content: '';
  display: block;
  width: 64px;
  height: 0;
  border: 1px solid rgb(206, 209, 216);
  transform: rotate(90deg);
  position: absolute;
  left: 640px;
}

/* .content-box-container::after {
  content: '';
  display: block;
  width: 64px;
  height: 0;
  border: 1px solid rgb(206, 209, 216);
  transform: rotate(90deg);
} */

.content-frame {}

.content-title {
  color: var(--black-txt-cl);
}

.title {}

.content-txt {
  width: 160px;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.content-img {
  margin-bottom: 40px;
}

.heading {}

.content-desc {}

.desc {}

/**
  |============================
  | Partners styles
  |============================
*/

.partners-container {
  margin-bottom: 56px;
}

.container {}

.partners-box {
  width: 264px;

}

.partners-title {
  font-weight: 700;
  margin-bottom: 8px;

  color: var(--black-txt-cl);
}

.heading {}

.partners-desc {
  margin-bottom: 32px;
}

.desc {}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 14px;
}

.list {}

.partners-iteam {
  width: 125px;
  height: 70px;

  text-align: center;
  display: flex;

  justify-content: center;
  align-items: center;
}

.partners-link {}

.partners-svg {}

/**
  |============================
  | Services styles
  |============================
*/

.services-container {
  margin-bottom: 56px;
}

.container {}

.service-title-desctop {
  display: none;
  color: var(--black-txt-cl);
}

.service-title-mob {
  margin-bottom: 16px;

  color: var(--black-txt-cl);
}

.heading {}

.service-desc {
  margin-bottom: 32px;
}

.desc {}

.service-list {}

.list {}

.services-box-img {}

.services-box-svg {}

.services-iteam {
  margin-bottom: 24px;
}

.services-box {
  position: relative;
  display: flex;
  gap: 16px;
}

.services-svg-box {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(22, 26, 52, 0.6);
  top: 12px;
  left: 108px;
}

.services-svg {
  position: absolute;
  top: 8px;
  left: 8px;

  stroke: rgba(22, 26, 52, 0.6);
  fill: var(--white-txt-cl);
  border-radius: 50%;
}

.services-img {
  width: 160px;
}

.services-box-right {}

.services-subject {
  margin-bottom: 8px;
}

.subject {}

.services-desc {
  font-weight: 400;
}

/**
  |============================
  | Trending styled
  |============================
*/

.trending-container {
  overflow: clip;
}

.container {}

.trending-title {
  margin-bottom: 16px;
  color: var(--black-txt-cl);
}

.heading {}

.trending-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  margin-bottom: 32px;
}

.desc {}

.trending-box {
  display: flex;
  /* gap: 16px; */

  /* position: relative; */
}

.trending-box-content {
  margin-right: 16px;
}


.trending-img {
  width: 300px;
  height: 191px;

  margin-bottom: 8px;
}

.trending-box-txt {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 8px;
}

.trending-headline-left {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6;

  margin-right: 22px;
}

.trending-headline-right {
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}

.trending-subject {
  width: 300px;

  margin-bottom: 39px;
}

.subject {}

.trending-box-svg {
  position: relative;
}

.trending-svg {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 76px;
  left: 289px;

  border-radius: 50%;
  background-color: var(--white-txt-cl);
  fill: var(--white-txt-cl);
  stroke: rgb(126, 132, 146);

}

/**
  |============================
  | Testimonials styles
  |============================
*/

.testimonials-container {}

.container {}

.testimonials-title {
  width: 247px;

  padding-top: 17px;
  margin-bottom: 16px;
  color: var(--black-txt-cl);
}

.heading {}

.testimonials-desc {
  width: 229px;

  margin-bottom: 82px;
}

.desc {}

.testimonials-box {
  margin-left: 32px;
}

.testimonials-box-svg {
  display: flex;
  gap: 8px;

  margin-bottom: 13px;
}

.testimonials-sign {
  fill: rgb(237, 237, 237);
  stroke: rgb(0, 0, 0);
  border: 0.28px solid rgb(0, 0, 0);
}

.testimonials-svg {}

.testimonials-box-txt {
  color: var(--black-txt-cl);
}

.testimonials-box-desc {
  width: 303px;
  margin-bottom: 8px;

  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;

  color: var(--black-txt-cl);
}

.testimonials-box-cart {
  display: flex;
  align-items: center;
  padding-bottom: 80px;
}

.testimonials-box-img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.testimonials-box-user {}

.testimonials-user-name {
  font-weight: 600;

  color: var(--black-txt-cl);

  margin-bottom: 4px;
}

.testimonials-user-position {
  font-size: 12px;

  line-height: 2.2;

  margin-right: 31px;
}

.testimonials-svg-left-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;

  width: 28px;
  height: 28px;
  border: 1px solid rgb(206, 209, 216);
  border-radius: 100px;
}

.testimonials-svg-left {}

.testimonials-svg-right-box {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 28px;
  height: 28px;
  border-radius: 100px;
  background-color: var(--black-txt-cl);
}

.testimonials-svg-right {
  fill: white;
}

/**
  |============================
  | Footer styled
  |============================
*/

.footer-container {
  position: relative;
  overflow: hidden;
}

.footer-container::before {
  content: '';
  display: block;
  width: 221px;
  height: 221px;
  position: absolute;

  filter: blur(120px);
  background-color: rgb(250, 117, 21);
  opacity: 0.9;
  z-index: -1;
}

.footer-container::after {
  content: "";
  display: block;
  position: absolute;
  filter: blur(80px);
  background-color: rgba(226, 248, 240, 0.8);
  z-index: -1;
  width: 197px;
  height: 197px;
  left: 277px;
  top: 203px;
}

.footer-title {
  padding-top: 51px;
  margin-bottom: 24px;

  color: var(--black-txt-cl);
}

.footer-subject {
  margin-left: 43px;
  margin-bottom: 24px;
}

.footer-btn {
  width: 142px;
  height: 44px;
  border-radius: 100px;

  margin-bottom: 56px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  color: var(--white-txt-cl);
  background-color: var(--black-txt-cl);
}

.footer-box-info {
  display: flex;
}


.footer-list-svg {
  margin-right: 144px;
}

.footer-list {}

.footer-svg {
  width: 95px;
  height: 44px;

  margin-bottom: 9px;

}

.footer-desc {
  width: 248px;

  margin-bottom: 56px;
}

@media only screen and (min-width: 1440px) {
  .footer-desc {
    color: var(--black-txt-cl);
  }
}

.footer-box-categories {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .footer-box-categories {
    display: flex;
    gap: 93px;
  }
}

.footer-box-content {}

.footer-box-list {}

.footer-box-iteam {
  margin-bottom: 16px;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  color: var(--black-txt-cl);
}

.footer-box-iteam:first-child {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;

  margin-bottom: 24px;
}

.footer-social {
  display: flex;
  align-items: center;
}

.footer-box-social {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
  justify-content: center;

  margin-bottom: 24px;
}

.footer-box-social::before {
  content: "";
  display: block;
  height: 0;
  width: 335px;
  border: 1px solid rgb(206, 209, 216)
}

.footer-social-iteam {}

.footer-social-link {}

.footer-social-svg {}

.footer-info {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  margin-bottom: 24px;
}

.footer-info-desc {
  text-align: center;

  padding-bottom: 30px;
}