:root {
    --primary-font: 'Inter', sans-serif;
    /* Text colors */
    --main-txt-cl: rgb(126, 132, 146);

}

/* Base styles */
html {
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0%;
    color: var(--main-txt-cl);
}

/* Reset Start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    color: currentColor;
    text-decoration: none
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
}

li:last-child {
    margin-bottom: 0;
}


/* Reset End */
.container {
    min-width: 320px;
    width: 335px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;


    Outline: 2px solid red;
    Outline-offset: -2px;
}