:root {
    --primary-font: 'Inter', sans-serif;
    /* Text colors */
    --main-txt-cl: rgb(126, 132, 146);
    --main-iteam-cl: rgb(29, 30, 37);
    

}

/* Base styles */
html {
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    color: var(--main-txt-cl);
}

/* Reset Start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    color: currentColor;
    text-decoration: none
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
}

li:last-child {
    margin-bottom: 0;
}


/* Reset End */
.container {
    min-width: 320px;
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    Outline: 2px solid red;
    Outline-offset: -2px;
}

/* @media only screen and (min-width: 376px) and (max-width: 1439px) {
  .container {
    max-width: 1229px;

    Outline: 2px solid rgb(147, 147, 0);
    Outline-offset: -2px;
  }
} */

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1230px;

    Outline: 2px solid red;
    Outline-offset: -2px;
  }
}


/**
  |============================
  | Header styles
  |============================
*/

.header {
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 24px 32px;
}
.container {
}
.header-link {
}
.header-svg {
}
.header-nav {
}
@media only screen and (max-width: 375px) {
  .header-nav {
    display: none;
  }
}

.header-list {
    display: flex;
}
.header-iteam {
}
.link {
}
.header-contact {
}
.header-menu-svg {
}